<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
    Username: <br />
    <input type='text' name='username' id='username' maxlength='30' /> <br />
    Password: <br />
    <input type='password' name='password' id='password' maxlength='30' /> <br />
    <input type="submit" name="form_submit" value="Submit" />
    </form>
</body>
</html>
